@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-snap-none {
      scroll-snap-type: none;
    }
    .scroll-snap-x {
      scroll-snap-type: x;
    }
    .scroll-snap-y {
      scroll-snap-type: y;
    }
    .no-scrollbar::-webkit-scrollbar {
        display:none;
       
    }
    .disable-select {
      -webkit-user-select: none;  
      -moz-user-select: none;    
      -ms-user-select: none;      
      user-select: none;
    }
    .bracket-left{
      display:inline;
      position:absolute;
      transform:scale(1.2,1.2)
      
    }
    .bracket-right{
      display:inline;
      position:absolute;
      
      transform: scale(-1.2,1.2) 
    }
    .overflow-block-clip{
      overflow-x:hidden;
    }
    .fixWidth{
      width:1280px
    }
  }